<section class="d-flex justify-content-center align-items-center display-wrapper">
    
    <div class="display">
        <h1 class="display-6 mb-4">What I know about you:</h1>
        <div class="row mb-3">            
            <div class="form-floating">
                <textarea class="form-control" [value]="textToDisplay"></textarea>    
            </div>
        </div>

        <button type="button" class="btn btn-lg btn-primary" (click)="onClickEdit()">Edit data</button>
    </div>
</section>